<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <asp>
            <httpCookies httpOnlyCookies="true" requireSSL="true" />
            <errors allowDebugging="true" scriptErrorSentToBrowser="true" />
        </asp>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
